.contact{
    width: 310px;
    margin: 0 auto;
    padding: 50px 0;
}

.contact .container{
    border: 3px solid var(--dark-blue);
    background-color: var(--light-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}
.contact .container h2{
    text-transform: uppercase;
}

.contact .container .separator{
    width: 90%;
    background-color: black;
    height: 2px;
    margin: 20px 0;
}

.contact .container .btn-green{
    width: 170px;
    height: 40px;
    gap: 20px;
    margin: 20px auto;
}

.contact .container .btn-green img{
    height: 30px;
    width: auto;
}

.contact .container label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}


.contact .container textarea{
    width: 250px;
    height: 150px;
    border: solid 2px var(--dark-blue);
    border-radius: 5px;
    resize : none;
    padding: 4px;
}

.contact .container textarea:focus{
    outline: none;
}

.contact .container a{
    margin: 0 0 20px 0;
}

.contact .container select{
    background-color: white;
    height: 40px;
    border-radius: 5px;
    border: solid 2px var(--dark-blue);
    width: 250px;
}

.contact .container .list{
    height: 400px;
    overflow-y: scroll;
    border-radius: 5px;
}

.contact .container .list .ticket{
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    width: 250px;
}

.contact .container .list .ticket span{
    margin: 5px 0;
}

.contact .container .afficher{
    margin-left: 10px;
    border: 2px solid var(--dark-blue);
    padding: 3px;
    border-radius: 5px;
}

.contact .container .afficher:hover{
    background-color: var(--light-blue);
}

.contact .container .ticket-content{
    height: 0;
    display: none;
    font-style: italic;
}


@media screen and (min-width: 800px) {
   .contact{
       width: 700px;
   }
    .contact .container textarea,
    .contact .container select,
    .contact .container .list .ticket{
        width: 400px;
    }

}

@media screen and (min-width: 800px) {
    .contact{
        width: 700px;
    }
    .contact .container textarea,
    .contact .container select,
    .contact .container .list .ticket{
        width: 400px;
    }

}

@media screen and (min-width: 1200px) {
    .contact{
        width: 1000px;
    }
    .contact .container textarea,
    .contact .container select,
    .contact .container .list .ticket{
        width: 600px;
    }

    .contact .container .btn-green{
        font-size: 15px;
        margin: 50px auto;
    }
    .contact .container a{
        margin: 0 0 50px 0;
    }
}


