.ml {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border: solid 2px var(--green);
    align-items: center;
    flex-direction: column;
}
.ml h1 {
    margin: 11px auto 14px;
}
.ml .ml-title {
    margin: auto auto 56px;
    width: 182px;
    height: 39px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;

}
.ml .ml-article {
    margin: auto auto 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px var(--dark-blue);
    border-radius: 5px;
}
.ml .separator {
    margin: 0 auto;
    border-top: 3px solid var(--green);
    width: 90%;
    display: block;
}
.ml .ml-article h2 {
    margin: 11px auto;
    border-bottom: 3px solid var(--dark-blue);
}
.ml .ml-article p {
    margin: 0 auto 11px;
    padding: 0 11px;
}
