.profil {
    padding-top: 50px;
}
.profil .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #C8EFFE;
    border-radius: 10px;
    width: 275px;
    margin: 0 auto;
}

.profil .profil-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: gray;
}

.profil .profil-mail{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.profil .profil-mail img{
    height: 30px;
    width: auto;
}

.profil .profil-footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.profil .btn-delete{
    padding: 5px;
}

.profil .btn-edit{
    padding: 15px 20px;
}