:root{
    --btn-green: #ADE194
}

button{
    all: unset;
}


.btn-green{
    background-color: var(--btn-green);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}