.cgu {
    display: flex;
    width: 360px;
    height: 100%;
    border: solid 2px #a2ff00;
    justify-content: center;
    flex-wrap: wrap;
}
.cgu .cgu-title {
    width: 230px;
    height: 80px;
    border: solid 2px #00fff7;
}
.cgu .cgu-article {
    width: 310px;
    height: 574px;
    margin-top: 50px;
    border: solid 2px orange;
}
