.cgu {
    display: flex;
    margin: 0 auto;
    width: 360px;
    flex-direction: column;
    align-items: center;
    border: solid 1px red;
}

.cgu .cgu-article {
    width: 310px;
    border: solid 1px red;
}

.cgu h2{
    width: auto;
    border: solid 1px red;
    margin: auto;
    padding-bottom: 0px;
    border-bottom: 3px solid #C8EFFE;
}

.cgu p{
    padding: 11px;
    border: solid 1px red;
}

.cgu .separator {
    margin: 11px auto;
    border-top: 3px solid #ADE194;
    width: 80%;
    display: block;
}