.header {
    display : flex;
    width: 100%;
    height: 110px;
    background-color: #C8EFFE;
    justify-content: space-between;
    align-items: center;
}

.header a img {
    margin-left: 16px;
    width: 124px;
    height :60px;
}
.img-header {
    display: block;
    margin-left: 16px;
    width: 124px;
    height :60px;
}
.img-header-santa {
    display: none;
}
.header a:hover .img-header-santa{
    display: block;
}
.header a:hover .img-header{
    display: none;
}

.header .choice{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
    font-weight: 600;
    font-size: 12px;
}

.header .button {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    gap: 10px;
}

.header .button:hover {
    border: solid 2px black;
}

.header .button span{
    display: none;
}

.header .button img {
    width: auto;
    height: 35px;
}

@media screen and (min-width: 700px) {
    .header{
        height: 170px;
    }
    .header a img{
        margin-left: 60px;
        width: auto;
        height : 116px;
    }
    .header .btn-exit p{
        display: block;
    }
    .header .choice{
        gap: 32px;
        margin-right: 60px;
        font-size: 18px;
    }

    .header .button {
        padding: 16px;
    }
    .header .button span{
        display: block;
    }

}
