@import "alert.css";
@import "button.css";
@import "error404.css";
@import "header.css";
@import "input.css";
@import "footer.css";
@import "sidebar.css";

@import "login/login.css";

@import "all/cgu.css";
@import "all/contact.css";
@import "all/faq.css";
@import "all/legal.css";

@import "profile/delete.css";
@import "profile/update.css";
@import "profile/view.css";


:root{
    --dark-blue: #C8EFFE;
    --light-blue: #DFF6FD;
    --green: #ADE194;
    --dark: #000000;
    --grey: #8388A4;
    --red: #ED5E68;
    --light: #FFFFFF;
}
html{
    overflow-x: hidden;
}

body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
input{
    box-sizing:border-box
}

h1, h2{
    font-family: "Arima Madurai", sans-serif;
}

h1{
    font-weight: 600;
    font-size: 20px;
}
h2{
    font-weight: 400;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.super-section{
    min-height: -webkit-calc(100vh - 110px - 25px - 20px);
    min-height: -moz-calc(100vh - 110px - 25px - 20px);
    min-height: calc(100vh - 110px - 25px - 20px);
}

@media screen and (min-width: 800px) {
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    body{
        font-size: 20px;
    }
    .super-section{
        min-height: -webkit-calc(100vh - 170px - 128px - 50px);
        min-height: -moz-calc(100vh - 170px - 128px - 50px);
        min-height: calc(100vh - 170px - 128px - 50px);
    }
}

@media screen and (min-width: 1200px) {
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 36px;
    }
    body{
        font-size: 24px;
    }
}
