input{
    border: 2px var(--dark-blue) solid;
    border-radius: 5px;
    height: 30px;
    outline: none;
    width: 100%;
    font: unset;
}

@media screen and (min-width: 800px) {
    input{
        height: 40px;
    }
}

