@import "lostpsw.css";
@import "register.css";

.login{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register .form,
.login form,
.lostpsw form{
    width: 100%;
}

.login h1,
.register h1{
    margin: 32px 0 16px 0;
    font-size: 24px;
}

.login .lost-psw-container{
    font-size: 12px;
    position: relative;
    width: 100%;
}

.login .lost-psw-container a{
    position: absolute;
    right: 0;
    margin-top: -10px;
    width: auto;
}

.register .btn-green,
.login .btn-green,
.lostpsw .btn-green{
    height: 40px;
    width: 100%;
    justify-content: space-between;
    margin-top: 64px;
}

.register .btn-green p,
.login .btn-green p,
.lostpsw .btn-green p{
    margin-left: 20px;
}

.register .btn-green img,
.login .btn-green img,
.lostpsw .btn-green img{
    height: 25px;
    width: auto;
    margin-right: 12px;
}

@media screen and (min-width: 800px) {
    .login{
        width: 350px;
    }
    .register h1,
    .login h1,
    .lostpsw h1{
        font-size: 32px;
        margin: 64px 0 16px 0;
    }
    .register .btn-green,
    .login .btn-green,
    .lostpsw .btn-green{
        height: 50px;
        font-size: 20px;
        width: 100%;
        margin-top: 80px;
    }

    .register .btn-green img,
    .login .btn-green img,
    .lostpsw .btn-green img{
        height: 30px;
        width: auto;
    }
    .login .lost-psw-container {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .register h1,
    .login h1,
    .lostpsw h1{
        font-size: 40px;
        white-space: nowrap;
    }
}
