.ml {
    display: flex;
    width: 360px;
    height: 100%;
    border: solid 2px #a2ff00;
    align-items: center;
    flex-direction: column;
}
.ml .ml-title {
    width: 182px;
    height: 39px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;

}
.ml .ml-article {
    width: 310px;
    height: 100%;
    margin-top: 50px;
    border: solid 3px #C8EFFE;
    border-radius: 5px;
}
.cgu .separator {
    margin: 10px auto;
    border-top: 3px solid #ADE194;
    width: 80%;
    display: block;
}
.ml h2 {
    width: 200px;
    margin : 11px auto;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 3px solid #C8EFFE;
}
.ml p {
    padding: 10px;
}
