.cows h2{
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
}
.cow-scroller{
    overflow: hidden;
    overflow-y: scroll;
    height: 180px;
}
.cow-scroller p{
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}
.cows .herd{
    margin: 10px;
}
.cows .herd-name{
    font-size: 16px;
}
.herd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}
.herd .herd-name{
    display: flex;
    align-items: center;
    gap: 8px;
}
.herd img{
    height: 20px;
    width:auto;
}