.cow-vache-add {
    display: flex;
    flex-direction: column;
}
.cow-vache-add h1 {
    display: flex;
    justify-content: center;
}
.cow-vache-add .form-cow-box {
    display: flex;
    justify-content: center;
}
.cow-vache-add .create-question {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}
.cow-vache-add .box-around-btn {
    display: flex;
    justify-content: center;
}

