.cow-vache-add {
    display: flex;
    flex-direction: column;
}
.cow-vache-add h1 {
    display: flex;
    justify-content: center;
}
.cow-vache-add .form-cow-box {
    display: flex;
    justify-content: center;
}
.cow-vache-add .create-question {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}
.cow-vache-add .box-around-btn {
    display: flex;
    justify-content: center;
}
.crop-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
}
#profil-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#upload{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#hidden-file-input{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.file{
    display: flex;
    margin-top: 20px ;
    gap: 15px;
}
@media screen and (max-width: 800px) {
    .cow-vache-add>h1 {
        font-size: 26px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}
