.box-question {
    display: flex;
    justify-content: flex-end;
}
form {
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.form-create-box {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 320px;
}
.addquestion{
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: center;
}
.question {
    width: 700px;
    height: 66px;
}
textarea {
    width: 692px;
    height: 226px;
    border: solid 2px var(--dark-blue);
    border-radius: 5px;
    resize : none;
}
.btn-box-create {
    display: flex;
    flex-direction: column;
    gap : 32px;
}

