.addquestion{
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    border: solid 2px #348166;
}
.question {
    width: 700px;
    height: 66px;
}
textarea {
    width: 692px;
    height: 226px;
    border: solid 2px var(--dark-blue);
    border-radius: 5px;
    resize : none;
}
