.delete-container {
    display: flex;
    margin: 0 auto;
    width: 1100px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    border : solid 1px red;
}
.btn-box-delete {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap : 100px;
}