.faq-admin-update .box-question {
    display: flex;
    justify-content: center;
}
.faq-admin-update .update-faq-admin-title {
    display: flex;
    justify-content: center;
}
.faq-admin-update .btn-box-update {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 32px;
}
