.view-faq-admin {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.view-faq-header {
    display: flex;
    margin-top: 90px;
    width: 100%;
    height: 210px;
    justify-content: center;
}
.view-faq-admin fieldset {
    margin : 0;
}
a {
    display: flex;
}
.view-faq-admin input {
    border-radius: 50px;
    width: 600px;
    height: 60px;
}
.view-faq-admin .btn-blue {
    margin-left: 20px;
}
.faq-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.view-faq-admin-h2 {
    margin-top: 0px;
}
.faq-btn-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap : 35px;
}
.faq-box h2 {
    margin: 24px;
}
.faq-box p {
    margin: 24px;
}
.faq-box .p1 {
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
}

.view-faq-admin .container {
    display: block;
    width: 1000px;
    border-radius: 10px;
    border : solid 3px var(--dark-blue);
    gap : 0;
}

fieldset {
    border-radius: 100px;
    border: solid 3px var(--dark-blue);
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 50px;
    left: 420px;
    top: 273px;
}


