.home{

}

.home .box{
    border: solid 3px var(--dark-blue);
    border-radius: 10px;
    margin: 0 20px;
}

.home{padding-top: 20px}

.home .sensor-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.home .sensor{
    height: 65px;
    width: 65px;
    margin: 0 auto;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home .sensor-box .low{
    background-color: var(--alert-green);
    border: 2px solid var(--alert-green);
}
.home .sensor-box .mid{
    background-color: var(--alert-orange);
    border: 2px solid var(--alert-orange);
}
.home .sensor-box .high{
    background-color: var(--alert-red);
    border: 2px solid var(--alert-red);
}

.home .sensor img{
    height: auto;
    width: 20px;
    margin-top: 12px;
}

.home .sensor span{
    margin-bottom: 10px;
}

.home .selected-cow{
    display: flex;
}

.home .cow-info{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-top: 3px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    border-right: 3px solid var(--dark-blue);
    height: 180px;
}

.home .cow-info h2{
    font-size: 16px;
}

.home .cow-info p{
    font-size: 14px;
    margin: 5px;
}

.home .cow-info .cow-img{
    height: 70px;
    width: 70px;
    border-radius: 5px;
    background-color: gray;
}

.home .alert-box{
    width: 100%;
    border-top: 3px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    height: 180px;
    overflow: hidden;
    overflow-y: scroll;
}

.home .alert{
    border-radius: 5px;
    padding: 3px;
    border: solid 2px black;
    margin: 3px;
    position: relative;
}

.home .alert2{
    background-color: var(--alert-green);
    border: 2px solid var(--alert-green);
}

.home .alert3{
    background-color: var(--alert-orange);
    border: 2px solid var(--alert-orange);
}
.home .alert4{
    background-color: var(--alert-red);
    border: 2px solid var(--alert-red);
}

.home .alert .alert-message{
    font-size: 12px;
}

.home .alert .alert-date{
    font-size: 8px;
    color: black;
    position: absolute;
    right: 3px;
    top: 2px;
}

.home .alert .alert-content{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;
}

.home .alert img{
    height: 14px;
    width: auto;
}

.home .alert{
    display: flex;
    align-items: flex-start;
    margin: 3px;
    gap: 5px;
    border-radius: 5px;
    padding: 3px;
    border: solid 2px black;
}

.home .alert2{
    background-color: var(--alert-green);
    border: 2px solid var(--alert-green);
}

.home .alert3{
    background-color: var(--alert-orange);
    border: 2px solid var(--alert-orange);
}
.home .alert4{
    background-color: var(--alert-red);
    border: 2px solid var(--alert-red);
}

.home .alert span{
    font-size: 12px;
}

.home .alert img{
    height: 14px;
    width: auto;
}

.home .cow-scroller{
    overflow: hidden;
    overflow-y: scroll;
    height: 100px;
}
