.level,
.level-selector{
    padding: 50px;
}

.level .level-block > img{
    height: 40px;
    width: auto;
    margin-top: 10px;
}

/* Chrome, Safari, Edge, Opera */
.level input::-webkit-outer-spin-button,
.level input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.level input[type=number] {
    -moz-appearance: textfield;
}

.level-block{
    border: solid 3px var(--dark-blue);
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.level .level-container img{
    width: 40px;
    height: auto;
    margin: 10px;
}



.level .plus-minus{
    display: flex;
    align-items: center;
}

.level .button-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.level h2{
    margin-bottom: -10px;
}


.level .btn-delete,
.level .btn-edit,
.level .btn-green{
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    cursor: pointer;
}
.level .level-container{
    position: relative;
    width: 400px;
    height: 20px;
    margin: 50px auto;
}

.level-container > *{
    height: 100%;
    position: absolute;
}

.level .low-level-bar{
    width: 100px;
    left: 150px;
    background-color: var(--alert-green);
    border-left: 5px orange solid;
    border-right: 5px orange solid;
}

.level .mid-level-bar{
    height: 20px;
    width: 200px;
    left: 100px;
    background-color: var(--alert-orange);
    border-left: 5px red solid;
    border-right: 5px red solid;
}

.level .high-level-bar{
    width: 400px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--alert-red);
}

.level .cursor{
    cursor: pointer;
    width: 20px;
    height: 100%;
    z-index: 10;
}

.level .cursor span{
    position: absolute;
    top: -20px;
    left: -5px;
    font-size: 10px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.level .level-container > span{
    position: absolute;
    top: -20px;
    font-size: 10px;
    color: red;
}

.level .level-container .min{
    left: -10px;
}

.level .level-container .max{
    right: 0;
}

.level-container .ref-cursor{
    width: 1px;
    cursor: auto;
    background-color: black;
}

.level .ref-cursor span{
    left: -10px;
    top: -30px;
    font-size: 15px;
    font-weight: bold;
}

.level .caption-first span{
    font-weight: bold;
    color: orange;
}

.level .caption-second span{
    font-weight: bold;
    color: red;
}

.level-selector .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: solid 3px var(--dark-blue);
    border-radius: 10px;
}

.level-selector .container .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.level-selector .container .button-container > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 3px solid var(--dark-blue);
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.level-selector .container .button-container > a:hover{
    background-color: var(--light-blue);
    cursor: pointer;
}

.level-selector .container .button-container > a > img {
    width: 50px;
    height: auto;
}



