.level{
    border: solid 3px var(--dark-blue);
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

.level .ui-slider-handle{
    font-family: "Inter", sans-serif;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.level .slider{
    height: 20px;
    margin: 20px 0;
}

.slider .ui-state-active{
    color: black;
}

.slider .ui-state-focus{
    border: none;
}

.level .min{
    background-color: var(--dark-blue);
    border: none !important;
    border-radius: unset !important;
}

.level .min .ui-slider-handle{
    background-color: var(--alert-green);

}

.level .mid{
    background-color: var(--dark-blue);
    border: none !important;
    border-radius: unset !important;
}

.level .mid .ui-slider-handle{
    background-color: var(--alert-orange);
}

.level .max{
    background-color: var(--dark-blue);
    border: none !important;
    border-radius: unset !important;
}

.level .max .ui-slider-handle{
    background-color: var(--alert-red);
}

.level .level-container img{
    width: 40px;
    height: auto;
    margin: 10px;
}

.level .level-container{
    padding: 20px;
}

.level .button-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.level h2{
    margin-bottom: -20px;
}

.level .inline-slider{
    display: flex;
    align-items: center;
    width: 100%;
}

.level .btn-delete,
.level .btn-edit,
.level .btn-green{
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    cursor: pointer;
}