.user-admin-delete {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}

.btn-delete-space {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px 0;
    gap: 20px;
}

.btn-delete-space > * {
    padding: 5px 20px;
}


@media screen and (min-width: 800px) {
    .btn-delete-space {
        gap: 100px;
    }
}
